<!doctype html>
<html>
  <head>
    <title>Karl Dashboard - {{ title }}</title>
    <style>
      body {
        font: 12pt Arial;
      }
      table, th, td {
        padding: 5px;
        text-align: left;
      }
    </style>
    <script>
      function confirm_host(service_name) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/confirm/host/" + service_name, false);
        xmlHttp.send(null);
        location.reload();
      }

      function confirm_client(client_name) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "/confirm/client/" + client_name, false);
        xmlHttp.send(null);
        location.reload();
      }
    </script>
  </head>
  <body>
    <section id="hosts">
      <h1>Karl Dashboard</h1>
      <table>
      <thead>
        <tr>
          <th>Confirm?</th>
          <th>ID</th>
          <th>Addr</th>
          <th>Active Request</th>
          <th>Last Request</th>
        </tr>
      </thead>
      <tbody>
        {{#each hosts}}
          <tr>
            <td>
              {{#if this.confirmed}}
              Yes
              {{else}}
              <button class="confirm-button" onclick="confirm_host('{{this.name}}')">
                Confirm
              </button>
              {{/if}}
            </td>
            <td>{{this.name}}</td>
            <td>{{this.addr}}</td>
            <td>{{request this.active_request}}</td>
            <td>{{request this.last_request}}</td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </section>

    <section id="clients">
      <h1>Registered Clients</h1>
      <table>
      <thead>
        <tr>
          <th>Confirm?</th>
          <th>ID</th>
          <th>IPAddr</th>
          <th>App</th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
          <tr>
            <td>
              {{#if this.confirmed}}
              Yes
              {{else}}
              <button class="confirm-button" onclick="confirm_client('{{this.name}}')">
                Confirm
              </button>
              {{/if}}
            </td>
            <td>{{this.name}}</td>
            <td>{{this.addr}}</td>
            <td><a href="/app/{{this.name}}">Link</a></td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </section>
  </body>
</html>

