<!doctype html>
<html>
  <head>
    <title>Karl Dashboard - {{ title }}</title>
    <style>
      body {
        font: 12pt Arial;
      }
      table, th, td {
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <section id="hosts">
      <h1>Karl Dashboard</h1>
      <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Addr</th>
          <th>Active Request</th>
          <th>Last Request</th>
        </tr>
      </thead>
      <tbody>
        {{#each hosts}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.addr}}</td>
            <td>{{request this.active_request}}</td>
            <td>{{request this.last_request}}</td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </section>

    <section id="clients">
      <h1>Registered Clients</h1>
      <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>IPAddr</th>
          <th>App</th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.addr}}</td>
            <td><a href="/app/{{this.id}}">Link</a></td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </section>
  </body>
</html>

